<div class="row justify-content-center pt-2 g-0 adv">
    {% for adv in advert %}
        <div class="col-4">
            <div class="item">
                <img src="{{ asset('advert/' ~ adv.filename ~ '.webp') }}" class="img-fluid" alt="1"/>
            </div>
        </div>
    {% endfor %}
</div>