{% extends 'base.html.twig' %}

{% block title %}{{ meta[key]['title'] }} - {{ site_name }}{% endblock %}
{% block description %}{{ meta[key]['description'] }}{% endblock %}

{% block body %}
    {% if items.premium is defined %}
        {% include 'section/block/premium.html.twig' with {items: items.premium} %}
    {% endif %}
    {% if items.intro is defined %}
        {% include 'section/block/intro.html.twig' with {items: items.intro} %}
    {% else %}
        <div class="card my-1">
            <div class="card-body text-center">
                Нет анкет
            </div>
        </div>
    {% endif %}
{% endblock %}
