{% extends 'base.html.twig' %}

{% block title %}Админ панель{% endblock %}

{% block body %}
    <div class="wrap container-md py-2">
        {% for value in app.flashes('notify') %}
            {% for key, message in value %}
                {% if key == 'change_status' %}
                    {% set action = {
                        'active': ['скрыта и сброшены все статусы', 'опубликована'],
                        'premium': ['снят статус «Премиум»', 'назначен статус «Премиум»'],
                        'realy': ['убран статус «Реальное фото»', 'установлен статус «Реальное фото»'],
                        'top': ['', 'была поднята']
                    } %}
                    {% set notify = 'Анкета ID ' ~ message.id ~ ' ' ~ action[message.action][message.value] %}
                {% elseif key == 'change_priority' %}
                    {% set action = {
                        'on': 'установлен приоритет на ' ~ message.value ~ ' место',
                        'off': 'обнулен приоритет'
                    } %}
                    {% set notify = 'Анкета ID ' ~ message.id ~ ' ' ~ action[message.action] %}
                {% endif %}
                <div class="alert alert-success alert-dismissible text-center mb-1" role="alert">
                    {{ notify }}
                    <button type="button" class="btn-close" style="padding:1rem" data-bs-dismiss="alert" aria-label="Закрыть"></button>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row g-1">
            {% if priority is not null %}
                <div class="col-12 col-lg-3">
                    <a href="/user/admin/advert" class="btn btn-success w-100 mb-1"><i class="fa-regular fa-images"></i> Управление баннерами</a>
                    {% include 'user/adm/block/section-priority.html.twig' with {priority} %}
                </div>
            {% endif %}
            <div class="col-12 col-lg-{% if priority is not null %}9{% else %}12{% endif %}">
                {% include 'user/adm/block/section-users.html.twig' with {users} %}
            </div>
        </div>
    </div>
{% endblock %}
