{% extends 'base.html.twig' %}

{% block title %}Админ панель{% endblock %}

{% block body %}
    <div class="container py-2">
        {% for response in app.flashes('response') %}
            {{ dump(response) }}
        {% endfor %}
        <div class="row g-1">
            {% if priority is not null %}
                <div class="col-3">
                    {% include 'user/adm/section-priority.html.twig' with {priority} %}
                </div>
            {% endif %}
            <div class="col-{% if priority is not null %}9{% else %}12{% endif %}">
                {% include 'user/adm/section-users.html.twig' with {users} %}
            </div>
        </div>
    </div>
{% endblock %}
