{% extends 'base.html.twig' %}

{% block title %}Админ панель{% endblock %}

{% block body %}
    <div class="row g-1">
        <div class="col-4">
            {% include 'user/admin/section-priority.html.twig' with {priority} %}
        </div>
        <div class="col-8">
            {% include 'user/admin/section-users.html.twig' with {users} %}
        </div>
    </div>
{% endblock %}
