{% extends 'base.html.twig' %}

{% block title %}{{ meta[key]['title'] }} - {{ site_name }}{% endblock %}
{% block description %}{{ meta[key]['description'] }}{% endblock %}

{% block body %}
    {% for item in items %}
        {% include 'render/intro.html.twig' with {item: item} %}
    {% else %}
        <div class="card my-1">
            <div class="card-body text-center">
                Нет анкет
            </div>
        </div>
    {% endfor %}
{% endblock %}
