{% extends 'base.html.twig' %}

{% block title %}Импорт данных{% endblock %}

{% block body %}
    <div class="wrap container-md">
    <main class="form-signin w-100 m-auto pt-2" style="max-width: 330px">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-center mb-1" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success text-center mb-1" role="alert">
                Импорт анкеты со предыдущей версии сайта
            </div>
        {% endfor %}
        <form method="POST">
            <div class="form-floating mb-1">
                <input type="number" class="form-control" id="floatingId" name="import[id]" placeholder="ID">
                <label for="floatingId">ID со старого сайта</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Загрузить</button>
        </form>
    </main>
    </div>
{% endblock %}