{% extends 'base.html.twig' %}

{% block title %}Редактирование фото анкеты ID: {{ id }}{% endblock %}

{% block body %}
    {% if photos is not empty %}
        <div class="alert alert-light text-center mb-1">Если не одно фото не отмечено как Основное то в списке анкет Основным будет показываться последнее загруженное</div>
    {% endif %}

            <a href="/user/lk" class="btn btn-light"><i class="fa-solid fa-chevron-left"></i></a>

    <form method="POST">
        <input type="hidden" name="action[item]" value="{{ id }}">
        <div class="text-center mb-2">
            <button type="submit" id="submit" class="btn btn-danger">Удалить отмеченные</button>
        </div>
        <div class="row justify-content-center g-1">
        {% for key, photo in photos %}
            <div class="col-2">
                {% include 'render/photo-lk.html.twig' with {id, key, photo} %}
            </div>
        {% else %}
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <i class="fa-solid fa-exclamation"></i>
                <div class="ms-2">Не загружено ни одной фотографии. Необходимо загрузить минимум одно фото иначе будет невозможен показ анкеты.</div>
            </div>
        {% endfor %}
        </div>
        <script>
            document.getElementById('allow').addEventListener('change', function (e) {
                document.getElementById('submit').disabled = !e.target.checked
            })
        </script>
    </form>
    <div class="text-center mt-2">
        <form method="POST" class="upload" enctype="multipart/form-data">
            <input type="hidden" name="action[item]" value="{{ id }}" />
            <label class="input-file">
                <input
                        type="file"
                        id="files"
                        name="upload[files][]"
                        multiple="multiple"
                        accept="image/*"
                        oninput="form.submit()"
                >
                <span class="btn btn-success"><i class="fa-solid fa-folder-plus"></i> Загрузить фото</span>
            </label>
        </form>
    </div>
{% endblock %}