{% extends 'base.html.twig' %}

{% block title %}Редактирование фото анкеты ID: {{ id }}{% endblock %}

{% block body %}
    <form method="POST">
        <input type="hidden" name="action[item]" value="{{ id }}">
        <div class="row g-1">
        {% for key, photo in photos %}
            <div class="col-2">
                {% include 'render/photo-lk.html.twig' with {id, key, photo} %}
            </div>
        {% endfor %}
        </div>
        <button type="submit">Delete selected</button>
    </form>
    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="action[item]" value="{{ id }}">
        <input
                type="file"
                id="files"
                name="upload[files][]"
                multiple="multiple"
                accept="image/*"
                oninput="form.submit()"
        >
    </form>
    <a href="/user/lk">Back to user lk</a>
{% endblock %}