{% extends 'base.html.twig' %}

{% block title %}Редактирование фото анкеты ID: {{ id }}{% endblock %}

{% block body %}
    <div class="wrap container-md">
    {% if photos is not empty and has_main_photo != true %}
        <div class="text-center mb-2">
            <div class="alert alert-warning d-inline-block m-0">Последнее загруженное фото будет показываться в списке анкет как <strong>Главное</strong></div>
        </div>
    {% endif %}
    <form method="POST" id="operand">
        <input type="hidden" name="action[item]" value="{{ id }}">
        <div class="row justify-content-center g-1">
        {% for key, photo in photos %}
            <div class="col-4 col-md-3 col-xl-2">
                {% include 'user/reg/render/photo.html.twig' with {id, key, photo} %}
            </div>
        {% else %}
            <div class="text-center mb-1">
                <div class="alert alert-danger d-inline-block m-0" role="alert">
                    <div class="ms-3">Не загружено ни одной фотографии. Необходимо загрузить минимум одно фото иначе будет невозможен показ анкеты.</div>
                </div>
            </div>
        {% endfor %}
        </div>
        <script>
            function massDelete() {
                let checked = false;
                document.querySelectorAll('input[type="checkbox"]')
                    .forEach(function(element) {
                        if (element.checked) { checked = true }
                    });
                document.getElementById('submit').disabled = !checked;
                document.getElementById('mass-delete').style.display = ['none', 'block'][ + checked];
                document.getElementById('upload').style.display = ['none', 'block'][ + !checked];
            }
            function checkAll()
            {
                let check = document.getElementsByTagName('input');
                for (let i = 0;i < check.length; i++) {
                    if (check[i].type === 'checkbox') {
                        check[i].checked = true;
                    }
                }
            }
        </script>
    </form>
    <div class="mt-2">
        <div class="text-center" id="mass-delete" style="display:none">
            <button
                    onclick="checkAll()"
                    class="btn btn-secondary"
            >Выбрать все</button>
            <button
                    id="submit"
                    onclick="document.getElementById('operand').submit()"
                    class="btn btn-danger"
                    disabled
            >Удалить</button>
        </div>
        <div class="text-center" id="upload">
            {% set max_upload = getMaxPhotoUpload() %}
            {% if max_upload == 0 or photos|length < max_upload %}
            <form method="POST" class="upload" enctype="multipart/form-data">
                <input type="hidden" name="action[item]" value="{{ id }}" />
                <label class="input-file">
                    <input
                            type="file"
                            id="files"
                            name="upload[files][]"
                            multiple="multiple"
                            accept="image/*"
                            oninput="form.submit()"
                    >
                    <span class="btn btn-success">
                        <i class="bi bi-folder-plus"></i> Загрузить фото
                        {% if max_upload != 0 %}
                            <span class="d-block opacity-50" style="font-size:.75rem;line-height:.5rem">Можно загрузить ещё {{ (max_upload-photos|length)|suffix_number(['файл', 'файла', 'файлов']) }}</span>

                        {% endif %}
                    </span>
                </label>
            </form>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}