<footer>
    <div class="inner">
        <div class="row g-0">
            <div class="col-4">
                <nav class="nav flex-column">
                    {% for key,value in meta %}
                        <a href="/{{ value.slug }}" class="nav-link text-white">{{ value.title }}</a>
                    {% endfor %}
                </nav>
            </div>
            <div class="col-4">

            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
</footer>