<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{{ site_name }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for keyMenu, valueMenu in menu %}
                    {% if keyMenu != 'main' %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url('page_type', {'type': valueMenu['slug']}) }}">{{ valueMenu['item_menu'] }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="navbar-text">
                {% if user_hash is not defined or user_hash is null %}
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-outline-secondary" href="/user/login">Вход</a>
                        <a class="btn btn-secondary" href="/user/regin">Регистрация</a>
                        <a class="btn btn-secondary" href="/import">Импорт</a>
                    </div>
                {% else %}
                    <div class="row g-1">
                        <div class="col">
                            <a class="btn btn-outline-secondary btn-sm" href="/user/lk">Кабинет</a>
                        </div>
                        <div class="col">
                            <form method="POST" action="/user/logout">
                                <button class="btn btn-danger btn-sm" type="submit">Выход</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>